

{% extends 'base.html' %}

{% block content %} <br/>

<div class = "table-box">
	<div class = "caption">
	<h1> HNG17 Internship Dashbord</h1>
	<h3> internts details and point board </h3>

</div>
 <table>
    <tr>
   	<th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email </th>
      <th>Gender </th>
      <th>Tracks </th>
      <th>Language</th>
      <th>Points</th>


     
    </tr>
    <tr>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
  
  </table>

    {{ api}} 
</div>



{% endblock %}